body {
  margin-left: 180px;
}

.headerBack {
  left: 2px;
  position: fixed;
  transform: translate(-50%, -25%);
  z-index: 1;
}

.logo {
  height: 50px;
  left: 15px;
  position: fixed;
  top: 15px;
  z-index: 2;
}

.navIcons {
  background-color: rgb(207, 207, 207);
  border-bottom: solid 1px black;
  height: 50px;
}

.icon {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  color: transparent;
  display: flex;
  height: 50px;
  justify-content: center;
  left: 5px;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 50px;
  z-index: 2;
}

.icon:disabled {
  filter: invert(70%);
}

.icon:not( :disabled ):not( .selected ):hover {
  background-color: black;
  filter: invert(100%);
}

.products {
  top: 80px;
}

.checkout {
  top: 140px;
  transition: all 0.2s ease-in;
}

.orders {
  top: 200px;
}

.ordersSeller {
  top: 80px;
}

.logoff {
  top: 260px;
}

.logoffSeller {
  top: 140px;
}

.iconImg {
  max-height: 70%;
  max-width: 70%;
}

.selected {
  background-color: coral;
}

.hidden {
  display: none;
}

.userName {
  background-color: transparent;
  color: black;
  font-size: 20px;
  font-weight: 500;
  left: 50vw;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 15px;
}

.productsQty {
  background-color: rgb(155, 0, 0);
  border-radius: 100%;
  height: 20px;
  left: 40px;
  opacity: 1;
  position: fixed;
  text-align: center;
  top: 155px;
  transition: all 0.2s ease-in;
  width: 20px;
  z-index: 3;
}

.noOpacity {
  opacity: 0;
}
